div.container
	h1= title
	div.board
		div.row
			div.blank
			div
			div
			div
			div
			div
			div
			div
			div
			div.blank
		div.row
			div.blank
			div
			div
			div
			div.target
			div.target
			div
			div
			div
			div.blank
		div.row
			div.blank
			div
			div
			div
			div
			div
			div
			div
			div
			div.blank
		div.row
			div.blank
			div
			div
			div
			div
			div
			div
			div
			div
			div.blank
		div.row
			div
			div
			div
			div
			div
			div
			div
			div
			div
			div
		div.row
			div
			div
			div
			div
			div
			div
			div
			div
			div
			div
		div.row
			div.blank
			div
			div
			div
			div
			div
			div
			div
			div
			div.blank
		div.row
			div.blank
			div
			div
			div
			div
			div
			div
			div
			div
			div.blank
		div.row
			div.blank
			div
			div
			div
			div.target
			div.target
			div
			div
			div
			div.blank
		div.row
			div.blank
			div
			div
			div
			div
			div
			div
			div
			div
			div.blank
	div.output
		div#turn_icon White's Turn
		div#endturndiv
			button#endturn(onclick="end(1)", style="display: none;") end turn
		div#log Please select a game from the right
div#chat_container
	h1 Chat
	div#chat
		ul
			li
				a(href='#', onclick="game_choice(this)") Game 1
			li
				a(href='#', onclick="game_choice(this)") Game 2
			li
				a(href='#', onclick="game_choice(this)") Game 3
